# Contact Book Project

In [9]:
import pandas as pd
pd.set_option('display.max_rows',10)

## DataBase

In [261]:
di = {'First Name':'Deepak',
      'Last Name': 'Chaudhary',
     'Phone':'9300491920',
     'Email':'flameoffire786@gmail.com',
     'DOB':'29/10/2001'}
Data = pd.DataFrame(di,index = range(1,2)) 
Data

  First Name  Last Name       Phone                     Email         DOB
1     Deepak  Chaudhary  9300491920  flameoffire786@gmail.com  29/10/2001

## Create Function

In [191]:
def CreateCon(Data):
    fname = input("Enter your First Name: ")
    lname = input("Enter your Last Name: ")
    phone = input("Enter your Phone Number: ")
    email = input("Enter your Email ID: ")
    DOB = input("Enter your DateOfBirth: ")
    di1 = {'First Name':fname,
      'Last Name': lname,
     'Phone':phone,
     'Email':email,
     'DOB':DOB}
    Data1  = pd.DataFrame(di1,index = [len(Data.index)+1])
    Res = pd.concat([Data,Data1])
    print("<-------Contact Created------->")
    return Res

## Delete Function

In [201]:
def DeleteCon(Data):
    num = input("Enter the Phone Number you want to delete: ")
    if num in Data.values:
        print(Data[Data['Phone']==num])
        res = Data.drop(Data[Data['Phone']==num].index.values)
        print("<-------Contact Deleted------->")
        return res
    else:
        print("Number doesn't exist in the CBook")
        return

## Update Function

In [260]:
def UpdateCon(Data):
    num = input("Enter the Phone number you want to Update: ")
    if num in Data.values:
        print("Data present: ")
        print(Data[Data['Phone']==num])
        fname = input("Enter your First Name: ")
        lname = input("Enter your Last Name: ")
        phone = input("Enter your Phone Number: ")
        email = input("Enter your Email ID: ")
        DOB = input("Enter your DateOfBirth: ")
        res = [fname,lname,phone,email,DOB]
        return num,res
    else:
        print("Number doesn't exist in the CBook")
        return

## Create Group Functionality

## Driver Code

In [267]:
print("<--------Welcome to the Contact Book-------->")
print("For Creating a new contact press 1\nFor Updating a Contact press 2\nFor Deleting a Contact press 3\nFor creating a group")
opt = int(input("Enter your choice: "))
if opt==1: Data = CreateCon(Data)
elif opt==2: 
    num,res = UpdateCon(Data)
    Data.loc[Data[Data['Phone']==num].index.values,['First Name','Last Name','Phone','Email','DOB']]=res
    print("<-------Contact Updated------->")
elif opt==3: Data = DeleteCon(Data)
elif opt==4: Data = CreateGro(Data)
else: print("Invalid Input")

<--------Welcome to the Contact Book-------->
For Creating a new contact press 1
For Updating a Contact press 2
For Deleting a Contact press 3
Enter your choice: 1
Enter your First Name: Mahima
Enter your Last Name: Shekhawat
Enter your Phone Number: 8839054030
Enter your Email ID: mahi@gmail.com
Enter your DateOfBirth: 4/1/2002
<-------Contact Created------->

In [268]:
Data

  First Name  Last Name       Phone            Email         DOB
1       Deez  Chaudhary  9876543210  flame@gmail.com  29/10/2001
2    Avinash    Kursija  9827265240    avi@gmail.com    1/1/2002
3     Mahima  Shekhawat  8839054030   mahi@gmail.com    4/1/2002

In [275]:
print(0)

0