# Contact Book Project

In [9]:
import pandas as pd
pd.set_option('display.max_rows',10)

## DataBase

In [279]:
di = {'First Name':'Deepak',
      'Last Name': 'Chaudhary',
     'Phone':'9300491920',
     'Email':'flameoffire786@gmail.com',
     'DOB':'29/10/2001'}
Data = pd.DataFrame(di,index = range(1,2)) 
Data['Group']=" "
Data

,First Name,Last Name,Phone,Email,DOB,Group
1,Deepak,Chaudhary,9300491920,flameoffire786@gmail.com,29/10/2001,

## Create Function

In [191]:
def CreateCon(Data):
    fname = input("Enter your First Name: ")
    lname = input("Enter your Last Name: ")
    phone = input("Enter your Phone Number: ")
    email = input("Enter your Email ID: ")
    DOB = input("Enter your DateOfBirth: ")
    di1 = {'First Name':fname,
      'Last Name': lname,
     'Phone':phone,
     'Email':email,
     'DOB':DOB}
    Data1  = pd.DataFrame(di1,index = [len(Data.index)+1])
    Res = pd.concat([Data,Data1])
    print("<-------Contact Created------->")
    return Res

## Delete Function

In [201]:
def DeleteCon(Data):
    num = input("Enter the Phone Number you want to delete: ")
    if num in Data.values:
        print(Data[Data['Phone']==num])
        res = Data.drop(Data[Data['Phone']==num].index.values)
        print("<-------Contact Deleted------->")
        return res
    else:
        print("Number doesn't exist in the CBook")
        return

## Update Function

In [260]:
def UpdateCon(Data):
    num = input("Enter the Phone number you want to Update: ")
    if num in Data.values:
        print("Data present: ")
        print(Data[Data['Phone']==num])
        fname = input("Enter your First Name: ")
        lname = input("Enter your Last Name: ")
        phone = input("Enter your Phone Number: ")
        email = input("Enter your Email ID: ")
        DOB = input("Enter your DateOfBirth: ")
        res = [fname,lname,phone,email,DOB]
        return num,res
    else:
        print("Number doesn't exist in the CBook")
        return

## Create Group Functionality

In [295]:
def CreateGro(Data):
    Gname = input("Enter the group name: ")
    n = int(input("Enter the number of members you want to add: "))
    if n<= len(Data.index):
        num = [input("Enter the phone number: ") for i in range(n)]
        return num,Gname
    else:
        print("Only",len(Data.index),"members exists")
        return

## Searching Function

In [308]:
def SearchPro(Data):
    print("For Searching a profile press 1\nFor searching a group members press 2")
    x = int(input("Enter your choice: "))
    if x ==1:
        num = input("Enter the Phone number of the user here: ")
        if num in Data.values:
            print(Data[Data['Phone']==num])
            return
        else:
            print(num,"Doesn't exist")
    elif x ==2:
        Gname = input("Enter the group name: ")
        if Gname in Data.values:
            print(Data[Data['Group']==Gname])
            return
        else:
            print(Gname,"Doesn't exist")

## Driver Code

In [309]:
print("<--------Welcome to the Contact Book-------->")
print("For Creating a new contact press 1\nFor Updating a Contact press 2\nFor Deleting a Contact press 3\nFor creating a group press 4\nFor Searching Profile press 5")
opt = int(input("Enter your choice: "))
if opt==1: Data = CreateCon(Data)
elif opt==2: 
    num,res = UpdateCon(Data)
    Data.loc[Data[Data['Phone']==num].index.values,['First Name','Last Name','Phone','Email','DOB']]=res
    print("<-------Contact Updated------->")
elif opt==3: Data = DeleteCon(Data)
elif opt==4:
    num,Gname = CreateGro(Data)
    for i in num:
        if i in Data.values:
            Data.loc[Data[Data['Phone']==i].index.values,['Group']]=Gname
            print(i,"Added to the group",Gname)
        else:
            print(i,"Doesn't Exists")
elif opt==5:
    SearchPro(Data)
        
else: print("Invalid Input")

<--------Welcome to the Contact Book-------->
For Creating a new contact press 1
For Updating a Contact press 2
For Deleting a Contact press 3
For creating a group press 4
For Searching Profile press 5
Enter your choice: 5
For Searching a profile press 1
For searching a group members press 2
Enter your choice: 1
Enter the Phone number of the user here: 9300491920
  First Name  Last Name       Phone                     Email         DOB
1     Deepak  Chaudhary  9300491920  flameoffire786@gmail.com  29/10/2001  \

  Group
1    DC

In [302]:
Data

,First Name,Last Name,Phone,Email,DOB,Group
1,Deepak,Chaudhary,9300491920,flameoffire786@gmail.com,29/10/2001,DC
2,Mahima,Shekhawat,8839054030,blazefire@gmail.com,4/1/2002,AK
3,Sahil,Chaudhary,9340541046,sahilchaudhary@gmail.com,11/12/2003,AK
4,Avinash,Kursija,9827265240,Avi@gmail.com,12/2/2005,DC

In [294]:
Data['Phone']

1    9300491920
2    8839054030
3    9340541046
4    9827265240
Name: Phone, dtype: object